span.icn {
    display:inline-block;
    height:15px;
    width:15px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    margin-right:5px;
    position:relative;
    top:3px;
}

span.icn-phrase {
    background-image:url('/bundles/faqgenerator/icons/list.svg');
}

span.icn-question {
    background-image:url('/bundles/faqgenerator/icons/question.svg');
}

html[data-color-scheme="dark"] span.icn-phrase { background-image:url('/bundles/faqgenerator/icons/list-drk.svg'); }
html[data-color-scheme="dark"] span.icn-question { background-image:url('/bundles/faqgenerator/icons/question-drk.svg'); }


.fg-generator-inner {
    padding:1rem;
}

.fg-generator-inner h1 {
    margin-bottom:1rem;
}

.fg-back {
    padding-top:12px;
    padding-right:15px;
    float:right;
}

.fg-btn {
    display:inline-block;
    padding:.6rem 1rem;
    border:none;
}

.fg-btn:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.fg-btn-generate {
    color:#FFF;
    background:darkgreen;
}

.fg-errors {
    margin-bottom:1.2rem;
    ul,li {
        padding:0;
        margin:0;
        list-style:none;
    }
    li {
        color:red;
    }
}